{% extends 'layouts/base.html' %}

{% block content %}
<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quo fuga non incidunt maiores deserunt excepturi. Laboriosam deleniti eveniet aut dolor voluptate nam fugiat corporis consequatur quia culpa, optio dolores nulla laudantium cupiditate atque repudiandae? Hic veniam in eos exercitationem temporibus incidunt laboriosam beatae error quidem officiis fuga repudiandae, sit iusto veritatis! Ab accusantium ullam sit velit nobis nisi dolor. Excepturi sunt eligendi iusto animi commodi expedita ipsa voluptatibus. Autem laborum omnis, consectetur, aspernatur exercitationem iure impedit laboriosam adipisci, obcaecati repellendus distinctio dolorem. Ratione, blanditiis? Blanditiis aliquam vel sed laboriosam. Explicabo voluptatem illum rem? Ipsam quam asperiores ea placeat et?</p>
{% endblock %}